
.home-container {
    background: #CCCCCC;
    padding: 20px;
}

.info {
    height: 60px;

}

.building-image {
    margin: 15px;
}

.building-title-container {
    position: relative;
    height: 100px;
    background-color: #417fa6;
    margin: 20px 30px;
    opacity: 0.3;
}

.building-title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    height: 50%;
    font-size: 30pt;
    opacity: 1.0;
}

.contact-container {
    /*position: relative;*/
    /*width: 60%;*/
    height: 100px;
    float: right;
    margin: 20px 30px;
    /*background-color: */
}

.circle {
    position: relative;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #aaa;
    margin: 10px;
    float: left;
}

.circle:hover {
    opacity: 0.8;
}

.contact-text {
    color: white;
    font-size: 25pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-result-container {
    background-color: lightgray;
    border-radius: 10px;
}

ul.results li:not(.list-group-item){
    margin: 5px;
}

/* Standard Screen*/
@media screen and (max-width: 1199px) {
    .search-container {
        width: 90%;
        height: 300px;
        background-color: #EEE;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background: url("../images/search-container.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* Small Screen*/
@media screen and (max-width: 991px) {
    .search-container {
        width: 90%;
        height: 300px;
        background-color: #EEE;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background: url("../images/search-container.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

}

/* XS Small Screen*/
@media screen and (max-width: 767PX) {
    .search-container {
        width: 90%;
        height: 600px;
        background-color: #EEE;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background: url("../images/search-container.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .building-image {
        display: inline-block;
        margin: auto;
    }
}


