<div class="video_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">About Us</h3>
                <div class="tltle">
                     <h3>Popular videos, official music soundtracks, music videos, and much more. All available to
                        download. </h3>
                </div>
                Music Noow is your ultimate source for downloading the best of YouTube videos. With extensive features
                and an easy to use site, users no longer have to use external applications, sites, or extensions to
                download the videos or music they want to keep or share with friends – it’s all happening here.
                 <h3>What is Music Noow? </h3>
                Music Noow is an application available on a website that allows you to browse, find, and see your
                favorite videos on YouTube and then download them as MP3, MP4, or small clips. The concept is to give
                you access to getting music or videos straight from the best of audio/video site: YouTube.
                <img src="/images/about_us_1.jpg" style="width:100%" alt="youtube mp3 download"/>
                <br/>
                <div class="tltle">
                     <h3> Our Aim. </h3>
                </div>

                Our aim is to become the single, centralized source people all YouTube lovers turn to if they want to
                download any file from YouTube. Sharing videos, music, clips, and more is what we’re here for and we
                look to keep enhancing this experience for our users to always enjoy.
                Ever loved a song on YouTube that you just couldn’t find anywhere else to download from? Perhaps you
                liked some video that you needed to save to your computer or mobile device but didn’t know how to. Music
                Noow is solving that!
<br/>
                <div class="tltle">
                     <h3> Download Videos, MP3 Files, Clips, and More </h3>
                </div>
                We are not a single solution, we’re not just offering YouTube to MP3 or YouTube to video – we’re
                offering many download options to our users. So whether you want to jam out to any music you like on
                YouTube or want to share a funny video with your friends, you can easily download them in high quality
                with Music Noow. Additionally, you can also choose to trim YouTube files to download specific clips from
                videos or audio files. This works great if you want a small video clip to share or need a small audio
                clip to make your ringtone!
                <br/>

                <img src="/images/about_us_2.jpg" alt="musicnoow about" style="width:100%"/>
                <br/>
                <div class="tltle">
                     <h3> Search Anything: Countless YouTube Videos Available. </h3>
                </div>

                From memorable sports highlights to movie trailers, game hacks, music files, music videos, funny videos,
                cat videos, news updates, documentaries, and so much more, there are countless videos available for
                download at Music Noow. We made our site category rich because we wanted to give something to everyone
                who comes here. Music Noow isn’t simply for a specific type of audience – it’s for everyone who enjoys
                YouTube files and music!
                Search from the latest videos available on our home page, browse popular videos, or type in the search
                bar for the video you’re looking for and you can easily view, listen, and download it! You can also
                check out the Categories section to browse videos by genre, type, or category.
                <br/><br/>
                <div style="clear:both"/>
                <div class="col-md-6">
                    <img src="/images/about_us_3.jpg" alt="music soundtracks" style="width:100%"/>
                </div>
                <div class="col-md-6">
                    <h3>Easy, Efficient, and Fast</h3>
                    We believe downloading YouTube videos or your favorite music shouldn’t be a hassle! It should be
                    easy, fast, and efficient – just the way you want it. This is why we worked endlessly to create a
                    site that works in the best, ideal manner. We tested out all the features out ourselves before
                    releasing the service and we can now confidently say that downloading YouTube videos or music from
                    YouTube has never been easier, simpler, faster, or smoother!
                    <br/>
                     <h3> Talk to Us!. </h3>
                    Got any more questions about us or Music Noow? Having some problems with the site? Need any kind of
                    help or answers? We’re open to contact! Contact us today! (Information available under the Contact
                    Us section.) Find us on Facebook or Twitter to connect with us on social media and to share our
                    awesome service with others!
                </div>
            </div>

        </div>
    </div>
</div>