<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#carpool-available" role="tab" data-toggle="tab">Available</a></li>
        <li role="presentation"><a href="#carpool-my" role="tab" data-toggle="tab">My Carpools</a></li>
        <li role="presentation"><a href="#carpool-requests" role="tab" data-toggle="tab">Requests</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="carpool-available">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-primary create-carpool">Create carpool</button>
                    </div>
                </div>
            </div>
            <br>
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <td>Car owner</td>
                    <td>From where</td>
                    <td>At what time</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="carpool-my">
            <br>
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <td>Car owner</td>
                    <td>From where</td>
                    <td>At what time</td>
                    <td>Status</td>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="carpool-requests">
            <br>
            <table class="table table-bordered table-responsive">
                <thead>
                <tr>
                    <td>Car owner</td>
                    <td>From where</td>
                    <td>At what time</td>
                    <td>Request Status</td>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal carpool-create-modal" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a carpool</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <input type="text" name="where" placeholder="Where to" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="when" placeholder="When" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="max_occupancy" placeholder="max_occupancy" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary save-carpool"><i class="glyphicon glyphicon-bullhorn"></i> Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal gift-modal" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Send him a gift</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <select class="form-control select-gift" name="select-gift">
                            <option value="">-- Select One --</option>
                            <option value="fuel-credits">Fuel Credits</option>
                            <option value="gift-card">Gift Card</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <hr>
                    <div class="form-inner"></div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary save-gift"><i class="glyphicon glyphicon-gift"></i> Send Gift</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fuel-credits-form" style="display: none;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Provider">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Unique Number">
    </div>
    <div class="form-group">
        <input type="file" class="form-control" placeholder="Attachment">
    </div>
</div>
<div class="gift-card-form" style="display:none;">
    <div class="form-group">
        <input type="text" class="form-control" name="redeem-link" placeholder="Redeem Link">
    </div>
    <div class="form-group">
        <input type="file" class="form-control" placeholder="Attachment">
    </div>
</div>