<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <input type="hidden" name="id" value="<%-data.id%>">
            <div class="form-group">
                <label class="col-sm-4 control-label">Apartment</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Apt Number" name="apt" value="<%-data.apt%>">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">First Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" value="<%-data.first_name%>">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Last Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="<%-data.last_name%>">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" placeholder="Email" name="email" value="<%-data.email%>">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button class="btn btn-primary" id="update-profile">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>