<li>
    <div class="row search-result-container">
        <div class="col-sm-3">
            <div class="building-image">
                <img class="img-responsive" src="<%-data.img%>" alt="<%-data.title%>">
            </div>
        </div>
        <div class="col-sm-6">
            <h1><%-data.title%></h1>
            <p>
                <%-data.desc%>
            </p>
        </div>
        <div class="col-sm-3" style="margin-top: 35px;">
            <% if(data.status==='requested'){%>
                <button class="btn btn-lg btn-info"><i class="glyphicon glyphicon-time"></i> Requested</button>
            <%} else{%>
                <button data-building-id="<%-data.id%>" class="join btn btn-lg btn-primary"><i class="glyphicon glyphicon-plus"></i> Join</button>
            <%}%>
        </div>
    </div>
</li>