<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input id="q" type="text" class="form-control" placeholder="Press Enter to search">
        </div>
    </div>
</div>
<ul class="results list-unstyled">

</ul>

<div class="modal" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Make a join request</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <input type="file" name="file" class="">
                    </div>
                    <div class="form-group">
                        <textarea name="notes" cols="70" rows="10" placeholder="Additional Notes"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button class="btn btn-primary request">Request</button>
                </div>
            </div>
        </div>
    </div>
</div>

